USE [BRIDashboard10]
GO
/****** Object:  Table [dbo].[EwsDetailTransactions]    Script Date: 9/12/2019 2:50:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EwsDetailTransactions](
	[cif] [nvarchar](255) NULL,
	[created_date] [datetime] NULL,
	[fasilitas] [nvarchar](255) NULL,
	[segmen] [nvarchar](255) NULL,
	[kanca] [nvarchar](255) NULL,
	[mainbr] [float] NULL,
	[kanwil] [nvarchar](255) NULL,
	[region] [nvarchar](255) NULL,
	[unit_kerja] [nvarchar](255) NULL,
	[branch] [float] NULL,
	[debitur] [nvarchar](255) NULL,
	[rekening] [float] NULL,
	[plafon] [float] NULL,
	[outstanding] [float] NULL,
	[kolektibilitas] [float] NULL,
	[prediksi] [float] NULL,
	[rating_crr] [float] NULL,
	[warna] [nvarchar](255) NULL,
	[desc] [nvarchar](255) NULL,
	[date] [datetime] NULL,
	[pn_ao_pengelola] [float] NULL,
	[nama_ao_pengelola] [nvarchar](255) NULL,
	[kode_jabatan_ao_pengelola] [float] NULL,
	[deskripsi_jabatan_ao_pengelola] [nvarchar](255) NULL,
	[loantype] [nvarchar](255) NULL,
	[produk] [nvarchar](255) NULL,
	[status_restruk] [nvarchar](255) NULL,
	[bentuk_kredit] [nvarchar](255) NULL,
	[tanggal_realisasi] [datetime] NULL,
	[tanggal_jatuh_tempo] [datetime] NULL,
	[sektor_ekonomi_sid] [nvarchar](255) NULL,
	[merah] [float] NULL,
	[kuning] [float] NULL,
	[hijau] [float] NULL
) ON [PRIMARY]

GO
