USE [BRIDashboard2]
GO
/****** Object:  Table [dbo].[TdbSource]    Script Date: 9/5/2019 1:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TdbSource](
	[TdbSourceId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TdbSource] ON 

INSERT [dbo].[TdbSource] ([TdbSourceId], [Name], [Description], [ModifiedDate], [ModifiedBy]) VALUES (1, N'Salim Grup', NULL, NULL, NULL)
INSERT [dbo].[TdbSource] ([TdbSourceId], [Name], [Description], [ModifiedDate], [ModifiedBy]) VALUES (2, N'RGE', NULL, NULL, NULL)
INSERT [dbo].[TdbSource] ([TdbSourceId], [Name], [Description], [ModifiedDate], [ModifiedBy]) VALUES (3, N'Buana Grup', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[TdbSource] OFF
