USE [BRIDashboard2]
GO
/****** Object:  Table [dbo].[SubSectorEconomy]    Script Date: 9/5/2019 1:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectorEconomy](
	[SubSectorEconomyId] [int] NOT NULL,
	[SubSectorEconomyName] [nvarchar](255) NULL,
	[SectorEconomyId] [int] NULL,
	[SectorEconomyName] [nvarchar](255) NULL,
	[SegmentationId] [int] NULL,
	[SegmentationName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubSectorEconomyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[SubSectorEconomy] ([SubSectorEconomyId], [SubSectorEconomyName], [SectorEconomyId], [SectorEconomyName], [SegmentationId], [SegmentationName]) VALUES (1101, N'Pertanian Palawija Kedelai                                  ', 1, N'PERTANIAN, PERBURUAN DAN KEHUTANAN', 1, N'Pertanian')
INSERT [dbo].[SubSectorEconomy] ([SubSectorEconomyId], [SubSectorEconomyName], [SectorEconomyId], [SectorEconomyName], [SegmentationId], [SegmentationName]) VALUES (1102, N'Pertanian Palawija Ubi Jalar                                ', 1, N'PERTANIAN, PERBURUAN DAN KEHUTANAN', 1, N'Pertanian')
INSERT [dbo].[SubSectorEconomy] ([SubSectorEconomyId], [SubSectorEconomyName], [SectorEconomyId], [SectorEconomyName], [SegmentationId], [SegmentationName]) VALUES (1103, N'Pertanian Palawija Kacang-kacangan Lainnya                  ', 1, N'PERTANIAN, PERBURUAN DAN KEHUTANAN', 1, N'Pertanian')
GO
