USE [dashboard-bri]
GO
/****** Object:  Table [dbo].[SubSectorEconomy]    Script Date: 7/30/2019 9:47:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectorEconomy](
	[SubSectorEconomyId] [int] NULL,
	[SubSectorEconomyName] [nvarchar](255) NULL,
	[SectorEconomyId] [int] NULL,
	[SectorEconomyName] [nvarchar](255) NULL,
	[SegmentationId] [int] NULL,
	[SegmentationName] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[SubSectorEconomy] ([SubSectorEconomyId], [SubSectorEconomyName], [SectorEconomyId], [SectorEconomyName], [SegmentationId], [SegmentationName]) VALUES (1101, N'Pertanian Palawija Kedelai                                  ', 1, N'PERTANIAN, PERBURUAN DAN KEHUTANAN', 1, N'Pertanian')
INSERT [dbo].[SubSectorEconomy] ([SubSectorEconomyId], [SubSectorEconomyName], [SectorEconomyId], [SectorEconomyName], [SegmentationId], [SegmentationName]) VALUES (1102, N'Pertanian Palawija Ubi Jalar                                ', 1, N'PERTANIAN, PERBURUAN DAN KEHUTANAN', 1, N'Pertanian')
INSERT [dbo].[SubSectorEconomy] ([SubSectorEconomyId], [SubSectorEconomyName], [SectorEconomyId], [SectorEconomyName], [SegmentationId], [SegmentationName]) VALUES (1103, N'Pertanian Palawija Kacang-kacangan Lainnya                  ', 1, N'PERTANIAN, PERBURUAN DAN KEHUTANAN', 1, N'Pertanian')
GO
