USE [dashboard-bri]
GO
/****** Object:  Table [dbo].[ACCESS_ROLES]    Script Date: 7/11/2019 5:07:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCESS_ROLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_ID] [int] NULL,
	[MODULE_ID] [int] NULL,
	[STATUS] [bit] NULL,
	[ADDON] [datetime] NULL,
	[ADDBY] [int] NULL,
	[MODION] [datetime] NULL,
	[MODIBY] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ACCESS_ROLES] ON 

INSERT [dbo].[ACCESS_ROLES] ([ID], [ROLE_ID], [MODULE_ID], [STATUS], [ADDON], [ADDBY], [MODION], [MODIBY]) VALUES (154, 2, 0, NULL, NULL, NULL, CAST(0x0000A91300827B20 AS DateTime), 12)
INSERT [dbo].[ACCESS_ROLES] ([ID], [ROLE_ID], [MODULE_ID], [STATUS], [ADDON], [ADDBY], [MODION], [MODIBY]) VALUES (163, 11, 0, NULL, NULL, NULL, CAST(0x0000A91F0072CEA0 AS DateTime), 12)
INSERT [dbo].[ACCESS_ROLES] ([ID], [ROLE_ID], [MODULE_ID], [STATUS], [ADDON], [ADDBY], [MODION], [MODIBY]) VALUES (74, 3, 0, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ACCESS_ROLES] OFF
