USE [dashboard-bri]
GO
ALTER TABLE [dbo].[USERS] DROP CONSTRAINT [DF__USERS__status__4D5F7D71]
GO
ALTER TABLE [dbo].[PIPELINE] DROP CONSTRAINT [DF__PIPELINE__MODIFI__607251E5]
GO
ALTER TABLE [dbo].[PIPELINE] DROP CONSTRAINT [DF__PIPELINE__CREATE__5F7E2DAC]
GO
ALTER TABLE [dbo].[MODULE_TYPES] DROP CONSTRAINT [DF__MODULE_TY__STATU__46B27FE2]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 7/11/2019 5:12:49 PM ******/
DROP TABLE [dbo].[USERS]
GO
/****** Object:  Table [dbo].[SEKTOR_EKONOMI]    Script Date: 7/11/2019 5:12:49 PM ******/
DROP TABLE [dbo].[SEKTOR_EKONOMI]
GO
/****** Object:  Table [dbo].[PIPELINE]    Script Date: 7/11/2019 5:12:49 PM ******/
DROP TABLE [dbo].[PIPELINE]
GO
/****** Object:  Table [dbo].[MODULE_TYPES]    Script Date: 7/11/2019 5:12:49 PM ******/
DROP TABLE [dbo].[MODULE_TYPES]
GO
/****** Object:  Table [dbo].[MODULE]    Script Date: 7/11/2019 5:12:49 PM ******/
DROP TABLE [dbo].[MODULE]
GO
/****** Object:  Table [dbo].[MODULE]    Script Date: 7/11/2019 5:12:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MODULE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MODULE_NAME] [nchar](50) NULL,
	[MODULE_PATH] [varchar](255) NULL,
	[MODULE_STATUS] [nchar](50) NULL,
	[MODULE_TYPE] [int] NULL,
	[STATUS] [bit] NULL,
	[ADDON] [datetime] NULL,
	[ADBY] [int] NULL,
	[MODION] [datetime] NULL,
	[MODYBY] [int] NULL,
	[ENVIRONMENT] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MODULE_TYPES]    Script Date: 7/11/2019 5:12:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MODULE_TYPES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MODULE_TYPE] [varchar](50) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[STATUS] [bit] NULL,
	[ADDON] [datetime] NULL,
	[ADDBY] [int] NULL,
	[MODION] [datetime] NULL,
	[MODIBY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PIPELINE]    Script Date: 7/11/2019 5:12:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PIPELINE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SUMBER_DATA] [int] NULL,
	[CIF_ID] [varchar](10) NULL,
	[NAMA_DEBITUR] [varchar](50) NULL,
	[NPWP] [varchar](50) NULL,
	[ALAMAT] [varchar](255) NULL,
	[CONTACT_PERSON] [varchar](50) NULL,
	[NO_TELP] [varchar](50) NULL,
	[EWS_STATUS] [int] NULL,
	[JENIS_USAHA] [varchar](50) NULL,
	[SEKTOR_USAHA] [int] NULL,
	[SEKTOR_EKONOMI] [int] NULL,
	[WARNA_LPG] [int] NULL,
	[STATUS_DEBITUR] [int] NULL,
	[PLAFOND] [numeric](19, 2) NULL,
	[SUMBER_DEBITUR] [int] NULL,
	[SUMBER_TDB] [int] NULL,
	[LAYER_STATUS_ID] [int] NULL,
	[STATUS_ID] [int] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SEKTOR_EKONOMI]    Script Date: 7/11/2019 5:12:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEKTOR_EKONOMI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAMA_SEKTOR] [varchar](255) NULL,
	[SEGMENTASI] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 7/11/2019 5:12:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[personal_number] [varchar](10) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[email_lainnya] [varchar](50) NULL,
	[password] [varchar](100) NULL,
	[token_id] [int] NULL,
	[status] [bit] NOT NULL,
	[addon] [datetime] NOT NULL,
	[addby] [int] NOT NULL,
	[modion] [datetime] NULL,
	[modiby] [int] NULL,
	[role_id] [int] NOT NULL,
	[unit_organisasi] [varchar](100) NULL,
	[corporate_title] [varchar](100) NULL,
	[email_corporate] [varchar](50) NULL,
	[phone_number1] [varchar](13) NULL,
	[phone_number2] [varchar](13) NULL,
	[profile_picture] [varchar](255) NULL,
	[division_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MODULE] ON 

INSERT [dbo].[MODULE] ([ID], [MODULE_NAME], [MODULE_PATH], [MODULE_STATUS], [MODULE_TYPE], [STATUS], [ADDON], [ADBY], [MODION], [MODYBY], [ENVIRONMENT]) VALUES (1, N'Executive Summary                                 ', N'performance/exec_summary', NULL, 1, 1, NULL, NULL, NULL, NULL, N'both')
INSERT [dbo].[MODULE] ([ID], [MODULE_NAME], [MODULE_PATH], [MODULE_STATUS], [MODULE_TYPE], [STATUS], [ADDON], [ADBY], [MODION], [MODYBY], [ENVIRONMENT]) VALUES (2, N'Segment Client By Profit                          ', N'perform/segment', NULL, 1, 1, NULL, NULL, NULL, NULL, N'both')
INSERT [dbo].[MODULE] ([ID], [MODULE_NAME], [MODULE_PATH], [MODULE_STATUS], [MODULE_TYPE], [STATUS], [ADDON], [ADBY], [MODION], [MODYBY], [ENVIRONMENT]) VALUES (3, N'Top and Bottom                                    ', N'performance/topbottom', NULL, 1, 1, NULL, NULL, NULL, NULL, N'both')
SET IDENTITY_INSERT [dbo].[MODULE] OFF
SET IDENTITY_INSERT [dbo].[MODULE_TYPES] ON 

INSERT [dbo].[MODULE_TYPES] ([ID], [MODULE_TYPE], [DESCRIPTION], [STATUS], [ADDON], [ADDBY], [MODION], [MODIBY]) VALUES (1, N'Performance', NULL, 1, CAST(0x0000A8C9005D79B0 AS DateTime), 0, NULL, NULL)
INSERT [dbo].[MODULE_TYPES] ([ID], [MODULE_TYPE], [DESCRIPTION], [STATUS], [ADDON], [ADDBY], [MODION], [MODIBY]) VALUES (2, N'Report', NULL, 1, CAST(0x0000A8C9005D79B0 AS DateTime), 0, NULL, NULL)
INSERT [dbo].[MODULE_TYPES] ([ID], [MODULE_TYPE], [DESCRIPTION], [STATUS], [ADDON], [ADDBY], [MODION], [MODIBY]) VALUES (3, N'User Management', NULL, 1, CAST(0x0000A8C9005D79B0 AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MODULE_TYPES] OFF
SET IDENTITY_INSERT [dbo].[PIPELINE] ON 

SET IDENTITY_INSERT [dbo].[PIPELINE] OFF
SET IDENTITY_INSERT [dbo].[SEKTOR_EKONOMI] ON 

INSERT [dbo].[SEKTOR_EKONOMI] ([ID], [NAMA_SEKTOR], [SEGMENTASI]) VALUES (1, N'INDUSTRI PENGOLAHAN', 3)
INSERT [dbo].[SEKTOR_EKONOMI] ([ID], [NAMA_SEKTOR], [SEGMENTASI]) VALUES (2, N'JASA KEMASYARAKATAN, SOSIAL BUDAYA, HIBURAN DAN PERORANGAN LAINNYA', 2)
INSERT [dbo].[SEKTOR_EKONOMI] ([ID], [NAMA_SEKTOR], [SEGMENTASI]) VALUES (3, N'JASA KESEHATAN DAN KEGIATAN SOSIAL', 2)
SET IDENTITY_INSERT [dbo].[SEKTOR_EKONOMI] OFF
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([id], [personal_number], [name], [email_lainnya], [password], [token_id], [status], [addon], [addby], [modion], [modiby], [role_id], [unit_organisasi], [corporate_title], [email_corporate], [phone_number1], [phone_number2], [profile_picture], [division_id]) VALUES (12, N'00177466', N'Christine', N'jedwardt2502@gmail.com', N'21232f297a57a5a743894a0e4a801fc3', 2, 0, CAST(0x0000A8AF010B231C AS DateTime), 0, CAST(0x0000A94901628E68 AS DateTime), 13, 1, NULL, NULL, N'Christinepasanda@gmail.com', N'8195124', N'08988913539', N'', 50000441)
INSERT [dbo].[USERS] ([id], [personal_number], [name], [email_lainnya], [password], [token_id], [status], [addon], [addby], [modion], [modiby], [role_id], [unit_organisasi], [corporate_title], [email_corporate], [phone_number1], [phone_number2], [profile_picture], [division_id]) VALUES (13, N'00088889', N'Nurdana Kusuma Putra', NULL, N'21232f297a57a5a743894a0e4a801fc3', NULL, 1, CAST(0x0000A9490161C028 AS DateTime), 12, NULL, NULL, 1, NULL, N'JUNIOR STAFF 2', NULL, NULL, NULL, NULL, 70149937)
GO
SET IDENTITY_INSERT [dbo].[USERS] OFF
ALTER TABLE [dbo].[MODULE_TYPES] ADD  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[PIPELINE] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[PIPELINE] ADD  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((1)) FOR [status]
GO
