USE [dashboard-bri]
GO
/****** Object:  Table [dbo].[CUSTOMER_MENENGAH]    Script Date: 7/11/2019 5:08:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER_MENENGAH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CIFNO] [varchar](10) NULL,
	[NAMA_DEBITUR] [varchar](50) NULL,
	[NPWP] [varchar](50) NULL,
	[ALAMAT] [varchar](255) NULL,
	[CONTACT_PERSON] [varchar](50) NULL,
	[NO_TELP] [varchar](50) NULL,
	[EWS_STATUS] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER_MENENGAH] ON 

INSERT [dbo].[CUSTOMER_MENENGAH] ([ID], [CIFNO], [NAMA_DEBITUR], [NPWP], [ALAMAT], [CONTACT_PERSON], [NO_TELP], [EWS_STATUS]) VALUES (1, N'CIF00001', N'Adaro Indonesia', N'NPWP-00001', N'Jalan Panjang No. 50', N'Sapto', N'081239123', 1)
INSERT [dbo].[CUSTOMER_MENENGAH] ([ID], [CIFNO], [NAMA_DEBITUR], [NPWP], [ALAMAT], [CONTACT_PERSON], [NO_TELP], [EWS_STATUS]) VALUES (2, N'CIF00002', N'PT Trimegah Sekuritas Indonesia', N'NPWP-00002', N'Jalan Pendek No. 25', N'Demy', N'01923129', 2)
INSERT [dbo].[CUSTOMER_MENENGAH] ([ID], [CIFNO], [NAMA_DEBITUR], [NPWP], [ALAMAT], [CONTACT_PERSON], [NO_TELP], [EWS_STATUS]) VALUES (3, N'CIF00003', N'PT Jasaraharja Putera (JP-Insurance)', N'NPWP-00003', N'Jalan Sedang No. 30', N'Budi', N'03484303', 3)
SET IDENTITY_INSERT [dbo].[CUSTOMER_MENENGAH] OFF
