USE [dashboard-bri]
GO
/****** Object:  Table [dbo].[MASTER_DIVISIONS]    Script Date: 7/11/2019 5:10:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MASTER_DIVISIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DIVISION_NAME] [varchar](50) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[STATUS] [bit] NULL,
	[ADDON] [datetime] NULL,
	[ADDBY] [int] NULL,
	[MODION] [datetime] NULL,
	[MODIBY] [int] NULL,
	[DIVISION_TYPE] [tinyint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MASTER_DIVISIONS] ON 

INSERT [dbo].[MASTER_DIVISIONS] ([ID], [DIVISION_NAME], [DESCRIPTION], [STATUS], [ADDON], [ADDBY], [MODION], [MODIBY], [DIVISION_TYPE]) VALUES (70155045, N'DIVISI PROJECT MANAGEMENT OFFICE', NULL, 1, CAST(0x0000A8B1010EB400 AS DateTime), 1, CAST(0x0000A9A1007C14D8 AS DateTime), 14, 2)
INSERT [dbo].[MASTER_DIVISIONS] ([ID], [DIVISION_NAME], [DESCRIPTION], [STATUS], [ADDON], [ADDBY], [MODION], [MODIBY], [DIVISION_TYPE]) VALUES (70154868, N'DIVISI PROJECT MANAGEMENT OFFICE', NULL, 1, CAST(0x0000A8B1010EB400 AS DateTime), 1, CAST(0x0000A9A100916518 AS DateTime), 14, 2)
INSERT [dbo].[MASTER_DIVISIONS] ([ID], [DIVISION_NAME], [DESCRIPTION], [STATUS], [ADDON], [ADDBY], [MODION], [MODIBY], [DIVISION_TYPE]) VALUES (70154850, N'DIVISI ASSETS & LIABILITIES MANAGEMENT', NULL, 1, CAST(0x0000A8B1010EB400 AS DateTime), 1, NULL, NULL, 2)
GO
SET IDENTITY_INSERT [dbo].[MASTER_DIVISIONS] OFF
ALTER TABLE [dbo].[MASTER_DIVISIONS] ADD  DEFAULT ((1)) FOR [STATUS]
GO
