USE [dashboard-bri]
GO
ALTER TABLE [dbo].[PIPELINE] DROP CONSTRAINT [DF__PIPELINE__MODIFI__607251E5]
GO
ALTER TABLE [dbo].[PIPELINE] DROP CONSTRAINT [DF__PIPELINE__CREATE__5F7E2DAC]
GO
/****** Object:  Table [dbo].[PIPELINE]    Script Date: 7/17/2019 2:56:17 PM ******/
DROP TABLE [dbo].[PIPELINE]
GO
/****** Object:  Table [dbo].[PIPELINE]    Script Date: 7/17/2019 2:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PIPELINE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SUMBER_DATA] [int] NULL,
	[CIF_ID] [varchar](10) NULL,
	[NAMA_DEBITUR] [varchar](50) NULL,
	[NPWP] [varchar](50) NULL,
	[ALAMAT] [varchar](255) NULL,
	[CONTACT_PERSON] [varchar](50) NULL,
	[NO_TELP] [varchar](50) NULL,
	[EWS_STATUS] [int] NULL,
	[JENIS_USAHA] [varchar](50) NULL,
	[SEKTOR_USAHA] [int] NULL,
	[SEKTOR_EKONOMI] [int] NULL,
	[WARNA_LPG] [int] NULL,
	[STATUS_DEBITUR] [int] NULL,
	[PLAFOND] [numeric](19, 2) NULL,
	[SUMBER_DEBITUR] [int] NULL,
	[SUMBER_TDB] [int] NULL,
	[LAYER_STATUS_ID] [int] NULL,
	[DECISION_MAKER_ID] [int] NULL,
	[STATUS_ID] [int] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PIPELINE] ON 

SET IDENTITY_INSERT [dbo].[PIPELINE] OFF
ALTER TABLE [dbo].[PIPELINE] ADD  CONSTRAINT [DF__PIPELINE__CREATE__5F7E2DAC]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[PIPELINE] ADD  CONSTRAINT [DF__PIPELINE__MODIFI__607251E5]  DEFAULT (getdate()) FOR [MODIFIED_DATE]
GO
