USE [BRIDashboard]
GO
/****** Object:  Table [dbo].[CustomerMenengah]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerMenengah](
	[CustomerMenengahId] [int] IDENTITY(1,1) NOT NULL,
	[CIF] [varchar](10) NULL,
	[CustomerMenengahTypeId] [int] NULL,
	[CustomerName] [varchar](50) NULL,
	[NPWP] [varchar](50) NULL,
	[Address] [varchar](255) NULL,
	[ContactPerson] [varchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerMenengahId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerMenengahType]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerMenengahType](
	[CustomerMenengahTypeId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerMenengahTypeName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerMenengahTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EWS]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EWS](
	[EWSId] [int] IDENTITY(1,1) NOT NULL,
	[EWSName] [varchar](50) NOT NULL,
	[EWSColorCode] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[EWSId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EWSDetail]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EWSDetail](
	[EWSDetailId] [int] IDENTITY(1,1) NOT NULL,
	[CIF] [varchar](10) NOT NULL,
	[EWSId] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[EWSDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FacilityDetail]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FacilityDetail](
	[FacilityDetailId] [int] IDENTITY(1,1) NOT NULL,
	[CIF] [varchar](10) NOT NULL,
	[PipelineFacilityId] [int] NOT NULL,
	[Plafond] [decimal](22, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FacilityDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NOTIFICATION]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NOTIFICATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [varchar](10) NULL,
	[PT] [varchar](300) NULL,
	[VCIF] [varchar](10) NULL,
	[COMMENT] [varchar](301) NULL,
	[READ] [bit] NULL,
	[DATA_YEAR] [varchar](4) NULL,
	[ModuleTypeId] [int] NULL,
	[Pages] [varchar](50) NULL,
	[ADDBY] [int] NULL,
	[ADDON] [datetime] NULL,
	[MODIBY] [int] NULL,
	[MODION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pipeline]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pipeline](
	[PipelineId] [int] IDENTITY(1,1) NOT NULL,
	[DataSourceId] [int] NULL,
	[CIFId] [varchar](10) NULL,
	[CustomerMenengahTypeId] [int] NULL,
	[CustomerName] [varchar](50) NULL,
	[NPWP] [varchar](50) NULL,
	[Address] [varchar](255) NULL,
	[ContactPerson] [varchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[EWSStatus] [int] NULL,
	[BusinessType] [varchar](50) NULL,
	[BusinessSector] [int] NULL,
	[EconomySubSector] [int] NULL,
	[LPGStatus] [int] NULL,
	[CustomerStatusId] [int] NULL,
	[Plafond] [numeric](19, 2) NULL,
	[CustomerResouceId] [int] NULL,
	[TDBResourceId] [int] NULL,
	[LayerStatusId] [int] NULL,
	[StatusId] [int] NULL,
	[BulanRealisasi] [int] NULL,
	[SubmittedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK__Pipeline__DD42434FE69A7F55] PRIMARY KEY CLUSTERED 
(
	[PipelineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PipelineApprovalLayer]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PipelineApprovalLayer](
	[PipelineApprovalLayerId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PipelineApprovalLayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PipelineDataSource]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PipelineDataSource](
	[PipelineDataSourceId] [int] IDENTITY(1,1) NOT NULL,
	[DataSourceName] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PipelineDataSourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PipelineFacility]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PipelineFacility](
	[PipelineFacilityId] [int] IDENTITY(1,1) NOT NULL,
	[PipelineFacilityShortName] [varchar](10) NULL,
	[PipelineFacilityName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PipelineFacilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PipelineFacilitySuplecy]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PipelineFacilitySuplecy](
	[PipelineFacilitySuplecy] [int] IDENTITY(1,1) NOT NULL,
	[PipelineId] [int] NOT NULL,
	[PipelineFacilityId] [int] NOT NULL,
	[PlafondExisting] [decimal](22, 2) NOT NULL,
	[PlafondSuplecy] [decimal](22, 2) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PipelineFacilitySuplecy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PipelineFacilityValues]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PipelineFacilityValues](
	[PipelineFacilityValuesId] [int] IDENTITY(1,1) NOT NULL,
	[PipelineId] [int] NULL,
	[PipelineFacilityId] [int] NULL,
	[PipelineFacilityValue] [decimal](22, 2) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PipelineFacilityValuesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PipelineLogActivity]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PipelineLogActivity](
	[PipelineLogActivityId] [int] IDENTITY(1,1) NOT NULL,
	[PipelineId] [int] NULL,
	[PipelineLayerStatusId] [int] NULL,
	[PipelineStatusId] [int] NULL,
	[Comment] [varchar](255) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PipelineLogActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PipelineStatus]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PipelineStatus](
	[PipelineStatusId] [int] IDENTITY(1,1) NOT NULL,
	[PipelineStatusName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PipelineStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProsesKredit]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProsesKredit](
	[ProsesKreditId] [int] IDENTITY(1,1) NOT NULL,
	[PipelineId] [int] NULL,
	[StatusApplicationId] [int] NOT NULL,
	[StatusPutusan] [int] NOT NULL,
	[EndDate] [datetime] NULL,
	[IsAkad] [int] NOT NULL,
	[TanggalAkad] [datetime] NULL,
	[NamaNotaris] [varchar](255) NULL,
	[Keterangan] [varchar](255) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK__ProsesKr__710376B643511411] PRIMARY KEY CLUSTERED 
(
	[ProsesKreditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProsesKreditLog]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProsesKreditLog](
	[ProsesKreditLogId] [int] IDENTITY(1,1) NOT NULL,
	[ProsesKreditId] [int] NOT NULL,
	[IsApproved] [int] NULL,
	[StatusApplicationId] [int] NULL,
	[Comment] [varchar](255) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK__ProsesKr__D47D91BF92FFF74E] PRIMARY KEY CLUSTERED 
(
	[ProsesKreditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubSectorEconomy]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectorEconomy](
	[SubSectorEconomyId] [int] NOT NULL,
	[SubSectorEconomyName] [nvarchar](255) NULL,
	[SectorEconomyId] [int] NULL,
	[SectorEconomyName] [nvarchar](255) NULL,
	[SegmentationId] [int] NULL,
	[SegmentationName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubSectorEconomyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS]    Script Date: 8/28/2019 7:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[personal_number] [varchar](10) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[email_lainnya] [varchar](50) NULL,
	[password] [varchar](100) NULL,
	[token_id] [int] NULL,
	[status] [bit] NOT NULL,
	[addon] [datetime] NOT NULL,
	[addby] [int] NOT NULL,
	[modion] [datetime] NULL,
	[modiby] [int] NULL,
	[role_id] [int] NOT NULL,
	[unit_organisasi] [varchar](100) NULL,
	[corporate_title] [varchar](100) NULL,
	[email_corporate] [varchar](50) NULL,
	[phone_number1] [varchar](13) NULL,
	[phone_number2] [varchar](13) NULL,
	[profile_picture] [varchar](255) NULL,
	[division_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerMenengah] ON 

INSERT [dbo].[CustomerMenengah] ([CustomerMenengahId], [CIF], [CustomerMenengahTypeId], [CustomerName], [NPWP], [Address], [ContactPerson], [PhoneNumber]) VALUES (1, N'Y977480', 1, N'YASANDA', N'99.054.841.1-524.00', N'Jalan Panjang No. 50', N'ILHAM MAHATIR       ', N'81239123')
INSERT [dbo].[CustomerMenengah] ([CustomerMenengahId], [CIF], [CustomerMenengahTypeId], [CustomerName], [NPWP], [Address], [ContactPerson], [PhoneNumber]) VALUES (2, N'L558145', 1, N'LESTARIWIRA AGRAPRIM', N'97.052.843.2-523.01', N'Jalan Pendek No. 25', N'NANA RUSNAWI        ', N'1923129')
INSERT [dbo].[CustomerMenengah] ([CustomerMenengahId], [CIF], [CustomerMenengahTypeId], [CustomerName], [NPWP], [Address], [ContactPerson], [PhoneNumber]) VALUES (3, N'H681321', 4, N'UJANG WAHYUDIN', N'95.050.840.3-522.02', N'Jalan Sedang No. 30', N'KHAIRUR RAZAK ALFATA', N'3484303')
SET IDENTITY_INSERT [dbo].[CustomerMenengah] OFF
SET IDENTITY_INSERT [dbo].[CustomerMenengahType] ON 

INSERT [dbo].[CustomerMenengahType] ([CustomerMenengahTypeId], [CustomerMenengahTypeName]) VALUES (1, N'PT')
INSERT [dbo].[CustomerMenengahType] ([CustomerMenengahTypeId], [CustomerMenengahTypeName]) VALUES (2, N'CV')
INSERT [dbo].[CustomerMenengahType] ([CustomerMenengahTypeId], [CustomerMenengahTypeName]) VALUES (3, N'Firma')
SET IDENTITY_INSERT [dbo].[CustomerMenengahType] OFF
SET IDENTITY_INSERT [dbo].[EWS] ON 

INSERT [dbo].[EWS] ([EWSId], [EWSName], [EWSColorCode]) VALUES (1, N'Merah', N'E74545')
INSERT [dbo].[EWS] ([EWSId], [EWSName], [EWSColorCode]) VALUES (2, N'Kuning', N'FFEF9D')
INSERT [dbo].[EWS] ([EWSId], [EWSName], [EWSColorCode]) VALUES (3, N'Hijau', N'62D159')
SET IDENTITY_INSERT [dbo].[EWS] OFF
SET IDENTITY_INSERT [dbo].[EWSDetail] ON 

INSERT [dbo].[EWSDetail] ([EWSDetailId], [CIF], [EWSId]) VALUES (1, N'Y977480', N'1')
INSERT [dbo].[EWSDetail] ([EWSDetailId], [CIF], [EWSId]) VALUES (2, N'L558145', N'2')
INSERT [dbo].[EWSDetail] ([EWSDetailId], [CIF], [EWSId]) VALUES (3, N'H681321', N'3')
SET IDENTITY_INSERT [dbo].[EWSDetail] OFF
SET IDENTITY_INSERT [dbo].[FacilityDetail] ON 

INSERT [dbo].[FacilityDetail] ([FacilityDetailId], [CIF], [PipelineFacilityId], [Plafond]) VALUES (1, N'Y977480', 1, CAST(50000000000.00 AS Decimal(22, 2)))
INSERT [dbo].[FacilityDetail] ([FacilityDetailId], [CIF], [PipelineFacilityId], [Plafond]) VALUES (2, N'L558145', 3, CAST(50000000000.00 AS Decimal(22, 2)))
INSERT [dbo].[FacilityDetail] ([FacilityDetailId], [CIF], [PipelineFacilityId], [Plafond]) VALUES (3, N'H681321', 4, CAST(75000000000.00 AS Decimal(22, 2)))
SET IDENTITY_INSERT [dbo].[FacilityDetail] OFF
SET IDENTITY_INSERT [dbo].[NOTIFICATION] ON 

INSERT [dbo].[NOTIFICATION] ([ID], [USER_ID], [PT], [VCIF], [COMMENT], [READ], [DATA_YEAR], [ModuleTypeId], [Pages], [ADDBY], [ADDON], [MODIBY], [MODION]) VALUES (1, N'251', N'', N'', N'Submitted Pipeline', 1, N'2019', 7, N'submitted', 250, CAST(0x0000AA9C00BE73DC AS DateTime), NULL, NULL)
INSERT [dbo].[NOTIFICATION] ([ID], [USER_ID], [PT], [VCIF], [COMMENT], [READ], [DATA_YEAR], [ModuleTypeId], [Pages], [ADDBY], [ADDON], [MODIBY], [MODION]) VALUES (2, N'250', N'', N'', N'Rejected Pipeline', 1, N'2019', 7, N'draft', 251, CAST(0x0000AA9C00BEC710 AS DateTime), NULL, NULL)
INSERT [dbo].[NOTIFICATION] ([ID], [USER_ID], [PT], [VCIF], [COMMENT], [READ], [DATA_YEAR], [ModuleTypeId], [Pages], [ADDBY], [ADDON], [MODIBY], [MODION]) VALUES (3, N'252', N'', N'', N'Approved Pipeline', 1, N'2019', 7, N'submitted', 251, CAST(0x0000AA9C00C8F424 AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[NOTIFICATION] OFF
SET IDENTITY_INSERT [dbo].[Pipeline] ON 

SET IDENTITY_INSERT [dbo].[Pipeline] OFF
SET IDENTITY_INSERT [dbo].[PipelineApprovalLayer] ON 

INSERT [dbo].[PipelineApprovalLayer] ([PipelineApprovalLayerId], [RoleId]) VALUES (1, 12)
INSERT [dbo].[PipelineApprovalLayer] ([PipelineApprovalLayerId], [RoleId]) VALUES (2, 13)
INSERT [dbo].[PipelineApprovalLayer] ([PipelineApprovalLayerId], [RoleId]) VALUES (3, 14)
SET IDENTITY_INSERT [dbo].[PipelineApprovalLayer] OFF
SET IDENTITY_INSERT [dbo].[PipelineDataSource] ON 

INSERT [dbo].[PipelineDataSource] ([PipelineDataSourceId], [DataSourceName], [IsActive], [CreatedDate]) VALUES (1, N'Baru', 1, NULL)
INSERT [dbo].[PipelineDataSource] ([PipelineDataSourceId], [DataSourceName], [IsActive], [CreatedDate]) VALUES (2, N'Suplesi / Deplesi', 1, NULL)
SET IDENTITY_INSERT [dbo].[PipelineDataSource] OFF
SET IDENTITY_INSERT [dbo].[PipelineFacility] ON 

INSERT [dbo].[PipelineFacility] ([PipelineFacilityId], [PipelineFacilityShortName], [PipelineFacilityName]) VALUES (1, N'KMK', N'Kredit Modal Kerja')
INSERT [dbo].[PipelineFacility] ([PipelineFacilityId], [PipelineFacilityShortName], [PipelineFacilityName]) VALUES (2, N'KI', N'Kredit Investasi')
INSERT [dbo].[PipelineFacility] ([PipelineFacilityId], [PipelineFacilityShortName], [PipelineFacilityName]) VALUES (3, N'BG', N'Bank Garansi')
SET IDENTITY_INSERT [dbo].[PipelineFacility] OFF
SET IDENTITY_INSERT [dbo].[PipelineFacilitySuplecy] ON 

INSERT [dbo].[PipelineFacilitySuplecy] ([PipelineFacilitySuplecy], [PipelineId], [PipelineFacilityId], [PlafondExisting], [PlafondSuplecy], [CreatedBy], [CreatedDate]) VALUES (3, 21, 3, CAST(7000000000.00 AS Decimal(22, 2)), CAST(7000000000.00 AS Decimal(22, 2)), 238, CAST(0x0000AAB301704A08 AS DateTime))
INSERT [dbo].[PipelineFacilitySuplecy] ([PipelineFacilitySuplecy], [PipelineId], [PipelineFacilityId], [PlafondExisting], [PlafondSuplecy], [CreatedBy], [CreatedDate]) VALUES (4, 21, 2, CAST(10000000000.00 AS Decimal(22, 2)), CAST(10000000000.00 AS Decimal(22, 2)), 238, CAST(0x0000AAB301704A08 AS DateTime))
INSERT [dbo].[PipelineFacilitySuplecy] ([PipelineFacilitySuplecy], [PipelineId], [PipelineFacilityId], [PlafondExisting], [PlafondSuplecy], [CreatedBy], [CreatedDate]) VALUES (5, 21, 1, CAST(34000000000.00 AS Decimal(22, 2)), CAST(34000000000.00 AS Decimal(22, 2)), 238, CAST(0x0000AAB301704A08 AS DateTime))
SET IDENTITY_INSERT [dbo].[PipelineFacilitySuplecy] OFF
SET IDENTITY_INSERT [dbo].[PipelineFacilityValues] ON 

INSERT [dbo].[PipelineFacilityValues] ([PipelineFacilityValuesId], [PipelineId], [PipelineFacilityId], [PipelineFacilityValue], [CreatedBy], [CreatedDate]) VALUES (1, 1, 3, CAST(10000000.00 AS Decimal(22, 2)), 250, CAST(0x0000AA9C00BA0DB0 AS DateTime))
INSERT [dbo].[PipelineFacilityValues] ([PipelineFacilityValuesId], [PipelineId], [PipelineFacilityId], [PipelineFacilityValue], [CreatedBy], [CreatedDate]) VALUES (2, 2, 3, CAST(1000000.00 AS Decimal(22, 2)), 250, CAST(0x0000AA9C00BE4D30 AS DateTime))
INSERT [dbo].[PipelineFacilityValues] ([PipelineFacilityValuesId], [PipelineId], [PipelineFacilityId], [PipelineFacilityValue], [CreatedBy], [CreatedDate]) VALUES (3, 3, 3, CAST(10000000.00 AS Decimal(22, 2)), 250, CAST(0x0000AA9C00BE6824 AS DateTime))
SET IDENTITY_INSERT [dbo].[PipelineFacilityValues] OFF
SET IDENTITY_INSERT [dbo].[PipelineLogActivity] ON 

INSERT [dbo].[PipelineLogActivity] ([PipelineLogActivityId], [PipelineId], [PipelineLayerStatusId], [PipelineStatusId], [Comment], [CreatedBy], [CreatedDate]) VALUES (1, 1, 1, 1, NULL, 250, CAST(0x0000AA9C00BA0DB0 AS DateTime))
INSERT [dbo].[PipelineLogActivity] ([PipelineLogActivityId], [PipelineId], [PipelineLayerStatusId], [PipelineStatusId], [Comment], [CreatedBy], [CreatedDate]) VALUES (2, 2, 1, 1, NULL, 250, CAST(0x0000AA9C00BE4D30 AS DateTime))
INSERT [dbo].[PipelineLogActivity] ([PipelineLogActivityId], [PipelineId], [PipelineLayerStatusId], [PipelineStatusId], [Comment], [CreatedBy], [CreatedDate]) VALUES (3, 3, 1, 1, NULL, 250, CAST(0x0000AA9C00BE6824 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PipelineLogActivity] OFF
SET IDENTITY_INSERT [dbo].[PipelineStatus] ON 

INSERT [dbo].[PipelineStatus] ([PipelineStatusId], [PipelineStatusName]) VALUES (1, N'Draft')
INSERT [dbo].[PipelineStatus] ([PipelineStatusId], [PipelineStatusName]) VALUES (2, N'Disubmit')
INSERT [dbo].[PipelineStatus] ([PipelineStatusId], [PipelineStatusName]) VALUES (3, N'Menunggu Persetujuan')
SET IDENTITY_INSERT [dbo].[PipelineStatus] OFF
SET IDENTITY_INSERT [dbo].[ProsesKredit] ON 

INSERT [dbo].[ProsesKredit] ([ProsesKreditId], [PipelineId], [StatusApplicationId], [StatusPutusan], [EndDate], [IsAkad], [TanggalAkad], [NamaNotaris], [Keterangan], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, 6, 17, 1, CAST(0x0000AAB000EC6850 AS DateTime), 0, NULL, NULL, NULL, 238, CAST(0x0000AAA900EC6850 AS DateTime), 252, CAST(0x0000AAAF00C11DE4 AS DateTime))
INSERT [dbo].[ProsesKredit] ([ProsesKreditId], [PipelineId], [StatusApplicationId], [StatusPutusan], [EndDate], [IsAkad], [TanggalAkad], [NamaNotaris], [Keterangan], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, 4, 17, 2, CAST(0x0000AAB100AE9624 AS DateTime), 0, NULL, NULL, NULL, 238, CAST(0x0000AAAE00DECD80 AS DateTime), 252, CAST(0x0000AAB100AE9624 AS DateTime))
INSERT [dbo].[ProsesKredit] ([ProsesKreditId], [PipelineId], [StatusApplicationId], [StatusPutusan], [EndDate], [IsAkad], [TanggalAkad], [NamaNotaris], [Keterangan], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (4, 7, 17, 1, CAST(0x0000AAB301432050 AS DateTime), 0, NULL, NULL, NULL, 238, CAST(0x0000AAB000AD67CC AS DateTime), 252, CAST(0x0000AAB301432050 AS DateTime))
SET IDENTITY_INSERT [dbo].[ProsesKredit] OFF
SET IDENTITY_INSERT [dbo].[ProsesKreditLog] ON 

INSERT [dbo].[ProsesKreditLog] ([ProsesKreditLogId], [ProsesKreditId], [IsApproved], [StatusApplicationId], [Comment], [CreatedBy], [CreatedDate]) VALUES (3, 2, 1, 17, N'Paket dikirim ke ADK', 238, CAST(0x0000AAAB00B3DAF8 AS DateTime))
INSERT [dbo].[ProsesKreditLog] ([ProsesKreditLogId], [ProsesKreditId], [IsApproved], [StatusApplicationId], [Comment], [CreatedBy], [CreatedDate]) VALUES (4, 2, 1, 18, N'Paket sudah lengkap dan dikirim ke ARK', 233, CAST(0x0000AAAB00F62610 AS DateTime))
INSERT [dbo].[ProsesKreditLog] ([ProsesKreditLogId], [ProsesKreditId], [IsApproved], [StatusApplicationId], [Comment], [CreatedBy], [CreatedDate]) VALUES (5, 2, 1, 17, N'Paket OK. lanjut ke ADK', 234, CAST(0x0000AAAB00FB10A8 AS DateTime))
SET IDENTITY_INSERT [dbo].[ProsesKreditLog] OFF
INSERT [dbo].[SubSectorEconomy] ([SubSectorEconomyId], [SubSectorEconomyName], [SectorEconomyId], [SectorEconomyName], [SegmentationId], [SegmentationName]) VALUES (1101, N'Pertanian Palawija Kedelai                                  ', 1, N'PERTANIAN, PERBURUAN DAN KEHUTANAN', 1, N'Pertanian')
INSERT [dbo].[SubSectorEconomy] ([SubSectorEconomyId], [SubSectorEconomyName], [SectorEconomyId], [SectorEconomyName], [SegmentationId], [SegmentationName]) VALUES (1102, N'Pertanian Palawija Ubi Jalar                                ', 1, N'PERTANIAN, PERBURUAN DAN KEHUTANAN', 1, N'Pertanian')
INSERT [dbo].[SubSectorEconomy] ([SubSectorEconomyId], [SubSectorEconomyName], [SectorEconomyId], [SectorEconomyName], [SegmentationId], [SegmentationName]) VALUES (1103, N'Pertanian Palawija Kacang-kacangan Lainnya                  ', 1, N'PERTANIAN, PERBURUAN DAN KEHUTANAN', 1, N'Pertanian')
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([id], [personal_number], [name], [email_lainnya], [password], [token_id], [status], [addon], [addby], [modion], [modiby], [role_id], [unit_organisasi], [corporate_title], [email_corporate], [phone_number1], [phone_number2], [profile_picture], [division_id]) VALUES (12, N'00177466', N'Christine', N'jedwardt2502@gmail.com', N'21232f297a57a5a743894a0e4a801fc3', 2, 0, CAST(0x0000A8AF010B231C AS DateTime), 0, CAST(0x0000A94901628E68 AS DateTime), 13, 1, NULL, NULL, N'Christinepasanda@gmail.com', N'8195124', N'08988913539', N'', 50000441)
INSERT [dbo].[USERS] ([id], [personal_number], [name], [email_lainnya], [password], [token_id], [status], [addon], [addby], [modion], [modiby], [role_id], [unit_organisasi], [corporate_title], [email_corporate], [phone_number1], [phone_number2], [profile_picture], [division_id]) VALUES (13, N'00088889', N'Nurdana Kusuma Putra', NULL, N'21232f297a57a5a743894a0e4a801fc3', NULL, 1, CAST(0x0000A9490161C028 AS DateTime), 12, NULL, NULL, 1, NULL, N'JUNIOR STAFF 2', NULL, NULL, NULL, NULL, 70149937)
GO
SET IDENTITY_INSERT [dbo].[USERS] OFF
ALTER TABLE [dbo].[Pipeline] ADD  CONSTRAINT [DF__PIPELINE__CREATE__5F7E2DAC]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((1)) FOR [status]
GO
